<div class="p-6">
  <div class="flex justify-between items-center mb-5">
    <div>
      <h2 class="text-2xl font-bold text-gray-700">My Banks</h2>
      <p class="text-gray-500 text-sm">Manage all your bank accounts</p>
    </div>
    <div class="flex gap-2">
      <button
        class="w-10 h-10 rounded-full bg-white shadow hover:bg-gray-400 transition"
        (click)="scrollLeft()"
      >
        <lucide-icon [img]="chevronLeftIcon" class="flex justify-center items-center"></lucide-icon>
      </button>
      <button
        class="w-10 h-10 rounded-full bg-white shadow hover:bg-gray-400 transition"
        (click)="scrollRight()"
      >
        <lucide-icon
          [img]="chevronRightIcon"
          class="flex justify-center items-center"
        ></lucide-icon>
      </button>
    </div>
  </div>
  <div
    #scrollContainer
    class="flex gap-5 overflow-x-auto scroll-smooth snap-x snap-mandatory pb-3"
    style="scrollbar-width: none"
  >
    @for (bank of banks(); track bank.id) {
      <div
        class="snap-start shrink-0 w-80 rounded-2xl bg-white shadow-sm hover:shadow-xl transition"
      >
        <div class="p-5">
          <div class="flex items-center gap-3">
            @if (bank.icon) {
              <img [src]="bank.icon" class="w-20 h-20 rounded-full" alt="" />
            } @else {
              <div class="w-20 h-20 rounded-full bg-cyan-200"></div>
            }
            <div>
              <h3 class="font-semibold text-lg">{{ bank.name }}</h3>
              <p class="text-sm text-gray-500">{{ bank.code }}</p>
            </div>
          </div>
          <div class="mt-2 grid grid-cols-2">
            <p class="text-sm text-gray-600">Initial Amount</p>
            <p class="text-sm text-gray-500">Rs. {{ bank.initialAmount | number }}</p>
          </div>
          <div class="mt-2 grid grid-cols-2">
            <p class="text-sm text-gray-600">Balance</p>
            <p class="text-sm text-gray-500">Rs. {{ bank.balance | number }}</p>
          </div>
          <div class="flex justify-end gap-3 mt-1">
            <!-- Edit -->
            <button
              title="Edit"
              type="button"
              (click)="openEditModal(bank)"
              class="w-7 h-7 rounded-full bg-cyan-500 text-white flex items-center justify-center hover:bg-cyan-600 transition duration-200 shadow-md cursor-pointer"
            >
              <lucide-icon [img]="squarePen" class="w-4 h-4"></lucide-icon>
            </button>

            <!-- Delete -->
            <button
              title="Delete"
              type="button"
              (click)="openDeleteModal(bank)"
              class="w-7 h-7 rounded-full bg-red-500 text-white flex items-center justify-center hover:bg-red-600 transition duration-200 shadow-md cursor-pointer"
            >
              <lucide-icon [img]="trash" class="w-4 h-4"></lucide-icon>
            </button>
          </div>
        </div>
      </div>
    }

    <div
      class="snap-start shrink-0 w-80 rounded-2xl border-2 border-dashed border-cyan-400 flex flex-col items-center justify-center cursor-pointer hover:bg-blue-50 transition"
      (click)="showAddBankModal.set(true)"
    >
      <div
        class="w-16 h-16 rounded-full bg-cyan-600 text-white flex items-center justify-center text-4xl"
      >
        <lucide-icon [img]="plus"></lucide-icon>
      </div>

      <p class="mt-4 font-semibold text-lg">Add Bank</p>
    </div>
  </div>

  <div class="border-t mt-8">
    <div class="mt-8"></div>
  </div>
</div>

@if (showAddBankModal()) {
  <app-confirm-modal
    title="Add Bank"
    confirmButtonText="Save"
    cancelButtonText="Cancel"
    (confirm)="confirmAddUserBankModal()"
    (cancel)="cancelAddUserBankModal()"
  >
    <form [formGroup]="addBankForm">
      <div class="px-5 py-2 space-y-5">
        <label class="block mb-2 font-medium">Bank</label>
        <select
          formControlName="bankId"
          class="w-full rounded-lg border border-gray-300 px-4 py-2 outline-none focus:ring-2 focus:ring-cyan-500"
        >
          <option value="0">Select Bank</option>

          @for (bank of bankList(); track bank.id) {
            <option [ngValue]="bank.id">{{ bank.name }}</option>
          }
        </select>

        <div class="h-2">
          @if (bankId_addBankForm.touched && bankId_addBankForm.hasError('min')) {
            <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.SELECT_BANK }}</p>
          }
          @if (bankList().length == 0) {
            <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.NO_BANK_OPTION }}</p>
          }
        </div>
      </div>

      <div class="p-6 space-y-4">
        <label class="block mb-2 font-medium">Initial Amount</label>
        <input
          type="number"
          formControlName="initialAmount"
          placeholder="Enter initial amount"
          min="0"
          class="w-full rounded-lg border border-gray-300 px-4 py-2 outline-none focus: ring-2 focus:ring-cyan-500"
        />

        <div class="h-6">
          @if (
            initialAmount_addBankForm.touched && initialAmount_addBankForm.hasError('required')
          ) {
            <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.INITIAL_AMOUNT_REQ }}</p>
          }
          @if (initialAmount_addBankForm.touched && initialAmount_addBankForm.hasError('min')) {
            <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.INITIAL_AMOUNT_LESS }}</p>
          }
        </div>
      </div>
    </form>
  </app-confirm-modal>
}

@if (showDeleteModal()) {
  <app-confirm-modal
    title="Delete Bank"
    confirmButtonText="Delete"
    cancelButtonText="Cancel"
    (confirm)="confirmDeleteModal()"
    (cancel)="cancelDeleteModal()"
  >
    <div class="px-5 py-2">
      <div class="flex items-center gap-3">
        @if (deleteBank()?.icon) {
          <img [src]="deleteBank()?.icon" alt="" class="w-30 h-30 rounded-full" />
        } @else {
          <div class="w-30 h-30 rounded-full bg-cyan-200"></div>
        }

        <div>
          <h3 class="font-semibold text-lg">{{ deleteBank()?.name }}</h3>
          <p class="text-sm text-gray-500">{{ deleteBank()?.code }}</p>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <p class="text-lg font-semibold">{{ BANKS_C.MODAL.DELETE_BANK }}</p>
    </div>
  </app-confirm-modal>
}

@if (showEditModal()) {
  <app-confirm-modal
    title="Edit Bank"
    confirmButtonText="Update"
    cancelButtonText="Cancel"
    (confirm)="confirmEditModal()"
    (cancel)="cancelEditModal()"
  >
    <div class="px-5 py-2">
      <div class="flex items-center gap-3">
        @if (editBank()?.icon) {
          <img [src]="editBank()?.icon" alt="" class="w-30 h-30 rounded-full" />
        } @else {
          <div class="w-30 h-30 rounded-full bg-cyan-200"></div>
        }

        <div>
          <h3 class="font-semibold text-lg">{{ editBank()?.name }}</h3>
          <p class="text-sm text-gray-500">{{ editBank()?.code }}</p>
        </div>
      </div>
      <form [formGroup]="editBankForm">
        <div class="p-6 space-y-5">
          <label class="block mb-2 font-medium">Initial Amount</label>
          <input
            type="number"
            formControlName="initialAmount"
            placeholder="Enter initial amount"
            min="0"
            class="w-full rounded-lg border border-gray-300 px-4 py-2 outline-none focus:ring-2 focus:ring-cyan-500"
          />

          <div class="h-6">
            @if (
              initialAmount_editBankForm.touched && initialAmount_editBankForm.hasError('required')
            ) {
              <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.INITIAL_AMOUNT_REQ }}</p>
            }

            @if (initialAmount_editBankForm.touched && initialAmount_editBankForm.hasError('min')) {
              <p class="text-sm text-red-500">{{ BANKS_C.VALIDATION.INITIAL_AMOUNT_LESS }}</p>
            }
          </div>
        </div>
      </form>
    </div>
  </app-confirm-modal>
}
